    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        font-family: RobotO, sans-serif
    }
    
    .container {
        width: 430px;
        height: 550px;
        background-color: white;
        border: 7px solid blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10% 40% 10% 40%;
    }
    
    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .container_text.name {
        text-decoration: underline;
        color: #1c5a85;
    }
    
    .header {
        font-size: 14px;
        font-weight: bold;
        margin-left: 60px;
    }
    
    .hero1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .student {
        font-size: 30px;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
        color: red;
    }
    
    .id {
        font-size: 20px;
        margin-top: 30px;
        font-weight: bold;
    }