.container {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: black;
    font-size: 15px;
    color: white;
}

.hero {
    border-radius: 50%;
}